{:rename-macros {}, :renames {}, :use-macros {}, :excludes #{}, :name mazda.db, :imports nil, :requires nil, :uses nil, :defs {default-db {:name mazda.db/default-db, :file "/home/oak/git/mazda/src/cljs/mazda/db.cljs", :line 3, :column 1, :end-line 3, :end-column 16, :meta {:file "/home/oak/git/mazda/src/cljs/mazda/db.cljs", :line 3, :column 6, :end-line 3, :end-column 16}}}, :require-macros nil, :cljs.analyzer/constants {:seen #{:name}, :order [:name]}, :doc nil}