{:rename-macros {}, :renames {}, :use-macros {}, :excludes #{}, :name mazda.events, :imports nil, :requires {re-frame re-frame.core, re-frame.core re-frame.core, db mazda.db, mazda.db mazda.db}, :uses nil, :require-macros nil, :cljs.analyzer/constants {:seen #{:initialize-db :set-active-panel :active-panel}, :order [:initialize-db :set-active-panel :active-panel]}, :doc nil}