$fonta: "Roboto", Helvetica, sans-serif;
$back: rgb(37, 3, 26);
$colora: rgb(77, 15, 56);
$coloraa0: rgba(77, 15, 56, 0);
$coloraa1: rgba(77, 15, 56, 1);
$colorb: rgb(37, 3, 26);
$colorba0: rgba(37, 3, 26, 0);
$colorba1: rgba(37, 3, 26, 1);

html {
  background: $back;
  font-family: $fonta;
  color: white;
}

form input[type="text"] {
  font-size: 16px;
  width: 80%;
  float: right;
}

.container {
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

ul.navbar {
  background: $colora;
  list-style: none;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-content: flex-end;
  align-content: flex-end;
  -webkit-padding-start: 0px;
  padding: 0;

  img {
    height: 30px;
  }

  a {
    text-decoration: none;
    display: block;
    color: white;
    padding: 10px;
  }

  a:hover {
    background: $colorb;
  }
}
